* {
  font-family: "Crimson Text", Tahoma, serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  text-align: center;
  padding: 10px;
}

a:link,
a:visited,
a:hover,
a:active,
#Instructor {
  text-decoration: none;
}

.Instructor,
.Instructor > span {
  font-family: "Lato", Tahoma, serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-decoration: none;
}

.Instructor > span {
  color: red;
}

body {
  text-align: center;
}

p,
blockquote {
  text-align: left;
  font-size: 20px;
}
